<!Doctype html>
<html lang="en" style="background-color:tomato;">
<head>
    <body>
<div class="container-fluid" style="min-height:100%">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{message}}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
    <h1 style="background-color:teal; border=blue;border-width:10px; border-style:outset">Sign Up For The JNF Chat Group Web Form</h1>
    <form method="post" style="background-color:teal; border=green; border-width:5px; border-style:solid">
        <label for="fname">First Name</label>
        <br>
        <input type="text" name="fname" id="fname"
               placeholder="John"
               value="{{ request.form['fname'] }}">
        </input>
        <br>

        <label for="lname">Last Name</label>
        <br>
        <input type="text" name="lname" id="lname"
                  placeholder="Doe"
                  value = "{{ request.form['lname'] }}">
        </input>
        <br>
        <label for="contact">Phone Number Or ICloud Email</label>
        <br>
        <input type="text" name="contact" id="contact"
               placeholder="John"
               value="{{ request.form['contact'] }}">
    </input>
        <button type="submit">Submit</button>
    </form>
</body>
<head>
</html>

